@model IEnumerable<string>

<a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home" asp-route-category="">
    Home
</a>
 
<!--"Model" = whatever was passed to this page-->
@foreach (string ClassCat in Model)
{
    //Highlights selected button                            if this..  then this..........else this...;
        <a class="btn btn-block @(ClassCat == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
           asp-action="Index" asp-controller="Home"
           asp-route-category="@ClassCat"
           asp-route-page="1">
            @ClassCat
        </a>
}