@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel
<!--<button class="btn"></button>-->

<p class="lead">Welcome to my list of books! So much knowledge it's mind bottling </p>

<br />
<br />
<a asp-action="FightingForm"><button>Click here to go to the Fighting Page</button></a>
<br />
<br />
@foreach (var x in Model.Books)
{ //calls the BookSummary.cshtml where the book info is held
    <partial name="BookSummary" model="x" />
}
<!--asp-validation-summary="All" validates the form-->


<!--These tags in the div are linked to the PageLinkTagHelper class in the
    infrastructure folder. Allows info to be passed between pages-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-rigt m-1"></div>
