@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel
<!--<button class="btn"></button>-->

@*@foreach (var c in Model.Books.ToList())
{
    <button>c.Category</button>
}*@

<p class="lead">Welcome to my list of books! So much knowledge it's mind bottling </p>

<br />
<br />
@foreach (var x in Model.Books)
{ //calls the BookSummary.cshtml where the book info is held
    <partial name="BookSummary" model="x" />
}


<!--These tags in the div are linked to the PageLinkTagHelper class in the
    infrastructure folder. Allows info to be passed between pages-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-rigt m-1"></div>
